<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand nav-link" [routerLink]="['']">Honey Store</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" id="navbarDropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="faUser" size="lg"></fa-icon>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUser">
                    <app-login *ngIf="!isLoggedIn"></app-login>
                    <app-logout *ngIf="isLoggedIn"></app-logout>
                </div>
            </li>
            <li class="nav-item dropdown mx-2">
                <a class="nav-link " [ngClass]="{'active': !root, 'dropdown-toggle': root}" id="navbarDropdownCartLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="faShoppingCart" size="lg"></fa-icon>
                </a>
                <div *ngIf="root" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <app-cart-details [mini]="true"></app-cart-details>
                </div>
            </li>
        </ul>

    </div>
</nav>

<router-outlet></router-outlet>