<div class="card" [ngClass]="{'mb-4': mini === false, 'miniCart-margin': mini === true}">
    <div *ngIf="isLoggedIn" class="card-header bg-primary">
        <h6>Your cart</h6>
    </div>
    <div *ngIf="isLoggedIn" class="card-body">
        <ul class="list-group" *ngFor="let honey of cart.honeys; let i = index">
            <li class="list-group-item d-flex align-items-center">
                <h6>{{ honey.name }}</h6>

                <div class="ml-auto d-flex align-items-center">

                    <strong class="mx-2">
                                 ${{honey.price}}
                                  <span class="text-muted">x</span>
                    </strong>
                    <input type="number" step="1" max="99" min="1" [value]="honey.amount" [(ngModel)]="honey.amount" (change)="onChange(honey)">
                    <button type="button" class="btn btn-outline-danger btn-xs mx-2" (click)="onDelete(honey.name)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>

            </li>
        </ul>

        <p *ngIf="empty">Your cart is empty</p>

    </div>
    <div class="card-footer" *ngIf="!empty && isLoggedIn">
        <h5>Total price: ${{ totalPrice }}</h5>
    </div>
    <a *ngIf="mini && isLoggedIn && !empty" [routerLink]="['/cart']" class="btn btn-success text-white">Check out</a>
    <a *ngIf="mini && !isLoggedIn" [routerLink]="['/login']" class="btn btn-warning text-white">Sign in to check the cart</a>
</div>