<div class="card mb-4 ">
    <div class="card-header bg-primary">
        <h6>Your cart</h6>
    </div>
    <div class="card-body">
        <ul class="list-group" *ngFor="let honey of cart.honeys; let i = index">
            <li class="list-group-item d-flex align-items-center">
                <h6>{{ honey.name }}</h6>

                <div class="ml-auto d-flex align-items-center">

                    <strong class="mx-2">
                                 ${{honey.price}}
                                  <span class="text-muted">x</span>
                    </strong>
                    <input type="number" step="1" max="99" min="1" [value]="honey.amount" [(ngModel)]="honey.amount" (change)="onChange()">
                    <button type="button" class="btn btn-outline-danger btn-xs mx-2" (click)="onDelete(honey.id)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>

            </li>
        </ul>
    </div>
    <div class="card-footer">
        <h5>Total price: ${{ cart.totalPrice }}</h5>
    </div>
</div>