<main>
    <div class="container">
        <ol class="breadcrumb mb-4 mt-4">
            <li class="breadcrumb-item active justify-content-center">
                <h1 class="h3">Warehouse management</h1>
            </li>
        </ol>

        <div class="row">
            <div class="col-lg-6 mb-4">
                <app-honey-list></app-honey-list>
            </div>

            <div class="col-lg-6">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</main>