<div class="row ">
    <ng-container *ngFor="let honey of honeys">
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4" [ngClass]="{
                'bg-success': honey.amount>=1000,
                'bg-primary': honey.amount >=500 && honey.amount < 1000,
                'bg-warning': honey.amount >=100 && honey.amount < 500,
                'bg-danger': honey.amount < 100 }">
                <div class="card-body">{{ honey.name }}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white">
                        <fa-icon [icon]="faAngleRight"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>