<div class="modal-header">
    <h2 class="modal-title">{{honeyName}}</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">


    <h4>
        <fa-icon [icon]="faWarehouse"></fa-icon>
        Number of items in stock:
    </h4>
    <p class="text-weight: bold">{{amount}}</p>
    <hr>

    <h4>
        <fa-icon [icon]="faDollarSign"></fa-icon>
        Price:
    </h4>
    <p class="text-weight: bold">{{price}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>