<main>
    <div class="container">

        <ol class="breadcrumb mb-4 mt-4">
            <li class="breadcrumb-item active justify-content-center">
                <h1 class="h3">Dashboard</h1>
            </li>
        </ol>

        <app-honey-cards></app-honey-cards>

        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <fa-icon [icon]="faChartArea"></fa-icon>

                        Daily area chart
                    </div>
                    <div class="card-body">
                        <!-- <canvas id="myAreaChart" width="100%" height="40"></canvas> -->
                        <app-area-chart [chartData]="areaChartData" [chartLabels]="areaChartLabels"></app-area-chart>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <fa-icon [icon]="faChartBar"></fa-icon>
                        Monthly bar chart
                    </div>
                    <div class="card-body">
                        <!-- <canvas id="myBarChart" width="100%" height="40"></canvas> -->
                        <app-bar-chart [chartData]="barChartData" [chartLabels]="barChartLabels"></app-bar-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <app-all-orders-table></app-all-orders-table>
        </div>
    </div>
</main>
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Tomasz Wiatrowski 2020</div>
            <div>
                <a href="#">Privacy Policy</a> &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>