<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
    <a class="navbar-brand nav-link" [routerLink]="['']">Honey Store</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"> Dashboard </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['orders']" [routerLinkActive]="['active']"> Orders </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['statistics']" [routerLinkActive]="['active']"> Statistics </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['warehouse']" [routerLinkActive]="['active']"> Warehouse </a>
            </li>
        </ul>

        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </button>
            </div>
        </form>
    </div>
</nav>

<router-outlet></router-outlet>