<div class="modal-header">
    <h2 class="modal-title"> Add new honey</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mb-4">
        <div class="form-group">
            <label for="inputName">Honey name</label>
            <input formControlName="name" type="text" class="form-control" id="inputName" aria-describedby="name" placeholder="Enter honey name">
            <span *ngIf="!form.get('name').valid && form.get('name').touched" class="help-block text-danger">Please enter a honey name!</span>
        </div>
        <div class="form-group">
            <label for="inputPrice">Price</label>
            <input formControlName="price" type="number" class="form-control" id="inputPrice" placeholder="Enter price of honey">
            <span *ngIf="!form.get('price').valid && form.get('price').touched" class="help-block text-danger">Please enter a honey price!</span>

        </div>
        <div class="form-group">
            <label for="inputAmount">Amount</label>
            <input formControlName="amount" type="number" class="form-control" id="inputAmount" placeholder="Enter amount of honeys">
            <span *ngIf="!form.get('amount').valid && form.get('amount').touched" class="help-block text-danger">Please enter an amount of honeys!</span>
        </div>
        <div class="form-group">
            <label for="inputImage">Add an image of honey</label>
            <input formControlName="honeyImage" type="file" class="form-control-file" id="inputImage">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Add honey</button>
    </form>
</div>