<div class="card mb-4">
    <div class="card-header">
        <div class="d-flex w-100 justify-content-between">
            <div>
                <fa-icon [icon]="faCogs"></fa-icon>
                Settings
            </div>
        </div>
    </div>
    <div class="card-body">
        <ngb-tabset [destroyOnHide]="false" justify="center">
            <ngb-tab>
                <ng-template ngbTabTitle><b>Address</b></ng-template>
                <ng-template ngbTabContent>
                    <ul class="list-group list-group-flush mb-4 text-center">
                        <li class="list-group-item">{{address?.city}}</li>
                        <li class="list-group-item">{{address?.streetAndHouseNumber}}</li>
                        <li class="list-group-item">{{address?.postCode}}</li>
                    </ul>
                    <button class="btn btn-primary mb-4" (click)="onChangeAddress()">Change your address</button>
                </ng-template>
            </ngb-tab>

            <ngb-tab>
                <ng-template ngbTabTitle><b>Password</b></ng-template>
                <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                    <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
                        PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard
                        ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                </ng-template>
            </ngb-tab>

        </ngb-tabset>
    </div>