<div class="card mb-4" *ngIf="!err">
    <div class="card-header bg-primary">
        Honey details
    </div>
    <div class="card-body">
        <div class="list-group">
            <li class="list-group-item">
                Honey name: {{ honey.name }}
            </li>
            <li class="list-group-item">
                Honey price: ${{ honey.price }}
            </li>
            <li class="list-group-item">
                Amount in warehouse: {{ honey.amount }}
            </li>
            <li class="list-group-item">
                Description: {{ honey.description }}
            </li>
        </div>

        <img class="img-thumbnail" alt="image" [src]="createImgPath()">

    </div>
</div>