<div class="modal-header">
    <h2 class="modal-title"> Order nr: {{ order.id }}</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <h5 class="mb-1">Ordered products</h5>
                <ul class="list-group mb-2">
                    <ng-container *ngFor="let product of order.orderedHoneys">
                        <li class="list-group-item flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <div>
                                    <h6>{{ product.name }}</h6>
                                    <p class="mb-0">Price: {{ product.price }}</p>
                                    <p class="mb-0">Amount: {{ product.amount}}</p>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                    <li class="list-group-item flex-column align-items-start ">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>Total payment:</h6>
                            <h5>${{ order.totalPrice }}</h5>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 mb-4">
                <h5 class="mb-1">Client data</h5>
                <ul class="list-group mb-2">
                    <li class="list-group-item flex-column align-items-start ">
                        <h6>Personal data</h6>
                        <p class="mb-0">{{ client.firstName }}</p>
                        <p class="mb-0">{{ client.lastName }}</p>
                        <p class="mb-0">{{ client.email }}</p>
                    </li>
                    <li class="list-group-item flex-column align-items-start ">
                        <h6>Shipping address</h6>
                        <p class="mb-0">{{ address.city }}</p>
                        <p class="mb-0">{{ address.streetAndHouseNumber }}</p>
                        <p class="mb-0">{{ address.postCode }}</p>
                    </li>
                    <li class="list-group-item flex-column align-items-start ">
                        <h6>Delivery and payment</h6>
                        <p class="mb-0">{{ delivery }}</p>
                        <p class="mb-0">{{ payment }}</p>
                    </li>
                </ul>
                <button class="btn btn-primary" *ngIf="order.status === 0 && client.email === 'admin@admin'" (click)="onSend()">Send the order</button>
                <button class="btn btn-warning" *ngIf="order.status === 0 && client.email !== 'admin@admin'" (click)="onCancel()">Cancel the order</button>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>